* {
  margin: 0;
  padding: 0;
  line-height: 28px;
}
.Left {
  position: relative;
  justify-content: left;
  margin: 2px;
}
.Banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  color: white;
}

.Right {
  position: relative;
  justify-content: right;
  left: 50vw;
}
.icon {
  width: 60px;
  height: 42px;
  margin-top: 3px;
  line-height: 3px;
  margin-right: 3px;
}
nav {
  text-decoration: none;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  margin-top: 12px;
}
nav ul li {
  text-decoration: none;
  margin-right: 9px;
  cursor: pointer;
}
.flag {
  font-size: 12px;
}
